<!DOCTYPE html>
<html>
<ul class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/page2">Page Two</a></li>
</ul>
<header><h1>The Noobs Project</h1></header>
<h2><span>Commentary</span></h2>
<dl>
	<dt>from: Kaye</dt>
	<dd>Good idea!  I look forward to updates. </dd>
	<dt>from: Anonymous</dt>
	<dd>Why not, indeed :-) I love that none of the fields are required ~ and I like that this idea sorted itself out in your sleep and presented itself to you in the morning.</dd>
</dl>
</html>

