%h3 Not Found (404) 
%p That page does not exist.
%p Perhaps you'd like to see one of the following:
#nav  
%ol  
  %a(href="/") 
    %li Home
  %a(href="page2")  
    %li Page2
  %a(href="commentary")  
    %li Commentary