<!DOCTYPE html>
<html>

<p>Create New User</p>
<form action="/users" method="post">
  <fieldset>
    <legend><span>All fields required</span></legend>
    <table>
      <tr>      
        <td><p>Name:</p><input type="text" name="name" size="60" placeholder="Name"></td>
      </tr>
 
    </table>
    <input type="submit">
  </fieldset>
</form>




</html>