<!DOCTYPE html>
<html>
table>(tr>(td>label+td>input:text))*3
<h3>Not Found (404)</h3>
<p>That page does not exist.</p>
<p>Perhaps you'd like to see one of the following:</p>
<ul class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/commentary">Commentary</a></li>
	<li><a href="/page2">Page Two</a></li>
</ul>
</html>

<table>
	<tr>
		<td>
			<label for="1"></label>
			<td><input type="text" name="2" id=""></td>
		</td>
	</tr>
	<tr>
		<td>
			<label for="3"></label>
			<td><input type="text" name="4" id=""></td>
		</td>
	</tr>
	<tr>
		<td>
			<label for="5"></label>
			<td><input type="text" name="6" id=""></td>
		</td>
	</tr>
</table>