<!DOCTYPE html>
<html>
<h3>Not Found (404)</h3>
<p>That page does not exist.</p>
<p>Perhaps you'd like to see one of the following:</p>
<ul class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/commentary">Commentary</a></li>
	<li><a href="/page2">Page Two</a></li>
</ul>
</html>