      <table class="i-table fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Status</th>
            <th>Admin?</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>      
              <td><%= user.name %></td>      
            </tr>
          <% end %>
        </tbody>
      </table>